{% extends "extension/index.html" %} 

{% block script %}
  {{ block.super }}
  <script type="text/javascript">
    window.setTimeout(function() {
      window.close();
    }, 5000);

  </script>
{% endblock %}

{% block body %}
<div class='container'>
  <h3>Already Associated!</h3>
    That thread is already associated to an opportunity. <br />

    <div class='row'>
      <form action='/extension/unassociate/' method='post'>
        {% csrf_token %}
        <input type='hidden' value='{{ association.id }}' name='association'>
        <button class='btn btn-warning btn-lg'>Unassociate</button> <br />
        <small>Clicking the Unassociate button will remove the email from the OPTY</small>
      </form>
    </div>
</div>


<div>

{% endblock %}